{% extends "Admin/base.html.twig" %}


{% block body %}


<!DOCTYPE html>
<html>
<head>
    <!-- Ajoutez ici les balises meta, les liens CSS, etc. -->
</head>


<body>
    <form method="post" novalidate>
        {{ form_errors(form1) }}
        {{ form_start(form1, {'attr': {'novalidate': 'novalidate'}}) }}
        
        <div class="input-form">
            {{ form_label(form1.NomC , 'First Name') }}
            {{ form_widget(form1.NomC, {'attr': {'class': 'form-control' ,'placeholder' :'Nour'}}) }}
			<div style="color:red">
				{{ form_errors(form1.NomC) }}
			</div>
            
        </div>
        <div class="input-form">
            {{ form_label(form1.prenomC , 'Last Name') }}
            {{ form_widget(form1.prenomC, {'attr': {'class': 'form-control' ,'placeholder' :'Aboussaoud'}}) }}
			<div style="color:red"> {{ form_errors(form1.prenomC) }} </div>
        </div>

        <div class="input-form">
            {{ form_label(form1.email , 'Email Address') }}
            {{ form_widget(form1.email, {'attr': {'class': 'form-control' ,'placeholder' :'exemple@esprit.tn'}}) }}
			<div style="color:red">
            {{ form_errors(form1.email) }} </div>
        </div>
        <div class="input-form">
            {{ form_label(form1.PhoneN , 'Phone Number') }}
            {{ form_widget(form1.PhoneN, {'attr': {'class': 'form-control' ,'placeholder' :'27596886'}}) }}
            <div style="color:red">
                {{ form_errors(form1.PhoneN) }} </div>
        </div>
        <div class="input-form">
            {{ form_label(form1.State , 'State') }}
            {{ form_widget(form1.State, {'attr': {'class': 'form-control' }}) }}
        </div>
        <div class="input-form">
            {{ form_label(form1.adresse , 'Address') }}
            {{ form_widget(form1.adresse, {'attr': {'class': 'form-control' ,'placeholder' :'Gabes Sud'}}) }}
			<div style="color:red">
            {{ form_errors(form1.adresse) }} </div>
        </div>
        <div class="input-form">
            {{ form_label(form1.TypePaiement , 'Payment Type') }}
            {{ form_widget(form1.TypePaiement, {'attr': {'class': 'form-control' }}) }}
        </div>
        <div class="input-form">
            {{ form_label(form1.IdCommande , 'IdCommande') }}
            {{ form_widget(form1.IdCommande, {'attr': {'class': 'form-control' }}) }}
        </div>

        <div class="input-form">
            {{ form_label(form1.IdClient , 'IDClient') }}
            {{ form_widget(form1.IdClient, {'attr': {'class': 'form-control' }}) }}
        </div>
        <div class="input-form">
            {{ form_label(form1.IdLivreur , 'IDLivreur') }}
            {{ form_widget(form1.IdLivreur, {'attr': {'class': 'form-control' }}) }}
        </div>


        <button type="submit" class="btn btn-primary mt-5">Register</button>
        {{ form_end(form1) }}
	</form>
</body>

</html>

 {% endblock %}