{% extends "User/base.html.twig" %}


{% block group %}   {% endblock %}
{% block event %}   {% endblock %}
{% block market %}   {% endblock %}
{% block quiz %}   {% endblock %}
{% block reclamation %}   {% endblock %}

{% block body %}


<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-color: #f8f9fa; /* Set the background color of the body */
        }

        .form-container {
            max-width: 400px; /* Set the maximum width for the form container */
            margin: auto; /* Center the form container horizontally */
            padding: 20px; /* Add some padding to the form container */
            background-color: white; /* Set the background color for the form container */
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a box shadow for a better look */
            margin-top: 50px; /* Adjust the top margin to center vertically */
        }

        .input-form {
            margin-bottom: 15px; /* Add some bottom margin between input fields */
        }

		.center-button {
            text-align: center; /* Center the button text */
        }
	
		

    </style>
</head>

<body>

	<div class="form-container">

    <form  method="post" >
		{{ form_start(form1 ) }}
        
        <div class="input-form">
			
			{{ form_label(form1.object , 'OBJECT') }}
			{{ form_widget(form1.object, {'attr': {'class': 'form-control' ,'placeholder' :'OBJECT'}}) }}
			<div style="color:red">
				{{ form_errors(form1.object) }}
			</div>
        </div>

	
		
        <div class="input-form mt-3">
			{{ form_label(form1.categorie , 'CATEGORY') }}
			{{ form_widget(form1.categorie, {'attr': {'class': 'form-control' ,'placeholder' :'CATEGORY'}}) }}
			<div style="color:red">
				{{ form_errors(form1.categorie) }} 
			</div>
        </div>


		<div class="input-form">

			{{ form_label(form1.description_Rec , 'DESCRIPTION') }}
			{{ form_widget(form1.description_Rec, {'attr': {'class': 'form-control ' ,'style': 'height: 150px;', 'placeholder' :'Veillez saisir votre reclamation'}} ) }}
			<div style="color:red">
				{{ form_errors(form1.description_Rec) }} 
			</div>
        </div>
		
        
		<div class="center-button">
			
			<button class="btn btn-raised btn-primary btn-round waves-effect"{{ button_label|default('Save') == 'Save' ? ' formnovalidate' }}>Save</button>

		</div>

		
		{{ form_end(form1) }}
	
    </form>
</div>
</body>
</html>


 {% endblock %}

