{% extends "User/base.html.twig" %}


{% block group %}   {% endblock %}
{% block event %}   {% endblock %}
{% block market %}   {% endblock %}
{% block quiz %}   {% endblock %}
{% block reclamation %}   {% endblock %}

{% block body %}


<!DOCTYPE html>
<html>
<head>
    <!-- Ajoutez ici les balises meta, les liens CSS, etc. -->
</head>
<body>

	<div class="intro-y box p-5 mt-5">

    <form  method="post"  novalidate>
		{{ form_start(form1, {attr: {'novalidate': 'novalidate' } } ) }}
        
        <div class="input-form mt-3">
			{{ form_widget(form1.object, {'attr': {'id': 'validation-form-1','class': 'form-control' ,'placeholder' :'OBJECT','required': 'required'} } ) }}
			<div class="form-help text-center" style="color:red">
				{{ form_errors(form1.object) }}
			</div>
        </div>

		<div class="input-form">
			{{ form_label(form1.description_Rec , 'DESCRIPTION') }}
			{{ form_widget(form1.description_Rec, {'attr': {'id': 'validation-form-1','class': 'form-control' ,'placeholder' :'DESCRIPTION' } } ) }}
			{{ form_errors(form1.description_Rec) }} 
        </div>

		
        <div class="input-form mt-3">
			{{ form_label(form1.categorie , 'CATEGORY') }}
			{{ form_widget(form1.categorie, {'attr': {'id': 'validation-form-1','class': 'form-control' ,'placeholder' :'CATEGORY' } } ) }}
			{{ form_errors(form1.categorie) }} 
        
        </div>
        
        <button type="submit" class="btn btn-primary mt-5">Send</button>
		{{ form_end(form1) }}
	
    </form>
</div>
</body>
</html>


 {% endblock %}

